<style>
    input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
    input.ng-dirty.ng-valid { border: 2px solid #6bc502 }
</style>

<template #validationMessage let-vo>
    <ul class="text-danger list-unstyled" *ngIf="vo.dirty && vo.invalid">            
        <li *ngFor="let error of getValidationMessages(vo)">
            {{error}}
        </li>
    </ul>
</template>

<div class="bg-info p-a-1 m-b-1">Model Data: {{jsonProduct}}</div>
<form novalidate #form="ngForm" (ngSubmit)="submitForm(form)">
    <div class="bg-danger p-a-1 m-b-1"
            *ngIf="formSubmitted && form.invalid">
        There are problems with the form
        <ul>
            <li *ngFor="let error of getFormValidationMessages(form)">
                {{error}}
            </li>
        </ul>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control"  
            name="name"
            #name="ngModel"
            [(ngModel)]="newProduct.name"
            required
            minlength="5"
            pattern="^[A-Za-z ]+$"/>
        <template [ngTemplateOutlet]="validationMessage" [ngOutletContext]="{$implicit: name}" ></template>
    </div>    
    <button class="btn btn-primary" type="submit" #btnCreate
            [disabled]="formSubmitted && form.invalid"
            [class.btn-secondary]="btnCreate.disabled">
        Create
    </button>
</form>