<style>
    input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
    input.ng-dirty.ng-valid { border: 2px solid #6bc502 }
</style>

<template #validationMessage let-vo>
    <ul class="text-danger list-unstyled" *ngIf="vo.dirty && vo.invalid">            
        <li *ngFor="let error of vo.getValidationMessages()">
            {{error}}
        </li>
    </ul>
</template>



<div class="col-xs-6">
    <form novalidate [formGroup]="form" (ngSubmit)="submitForm(form)">
        <div class="bg-danger p-a-1 m-b-1"
                *ngIf="formSubmitted && form.invalid">
            There are problems with the form
            <ul>
                <li *ngFor="let error of form.getFormValidationMessages()">
                    {{error}}
                </li>
            </ul>
        </div>
        <div class="form-group" *ngFor="let control of form.productControls">
            <label>{{control.label}}</label>
            <input class="form-control"  
                name="{{control.modelProperty}}"           
                [(ngModel)]="newProduct[control.modelProperty]"            
                formControlName="{{control.modelProperty}}"/>
            <template [ngTemplateOutlet]="validationMessage" [ngOutletContext]="{$implicit: control}" ></template>
        </div>    
        <button class="btn btn-primary" type="submit" #btnCreate
                [disabled]="formSubmitted && form.invalid"
                [class.btn-secondary]="btnCreate.disabled">
            Create
        </button>
    </form>
</div>

<div class="col-xs-6">
    <label>Tax Rate:</label>
    <select [value]="taxRate || 0" (change)="taxRate=$event.target.value">
        <option value="0">None</option>
        <option value="10">10%</option>
        <option value="20">20%</option>
        <option value="50">50%</option>
    </select>
</div>

<div class="col-xs-6">
    <table class="table table-sm table-bordered table-striped">
        <tr><th></th><th>Name</th><th>Category</th><th>Price</th></tr>
        <tr *ngFor="let item of getProducts(); let i = index" pa-attr>
            <td>{{i + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.category}}</td>
            <td style="vertical-align:middle">
                {{item.price | addTax:(taxRate || 0) | currency: "USD" : true }}
            </td>
        </tr>
    </table>
</div>